<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise tracker</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>ExerScise tracker</h1>
    <!-- <div> -->
    <form action="" id="new-user">
      <h2>Create a New User</h2>
      <p><code>POST /api/users</code></p>
      <input type="text" name="username" id="username" placeholder="username" />
      <button type="submit">Submit</button>
    </form>
    <form action="" id="add-exercises">
      <h2>Add exercises</h2>
      <p><code>POST /api/users/:_id/exercises</code></p>
      <input type="text" name="_id" id="_id" placeholder=":_id" />
      <input
        type="text"
        name="description"
        id="description"
        placeholder="description*"
      />
      <input
        type="text"
        name="duration"
        id="duration"
        placeholder="duration* (mins.)"
      />
      <input
        type="text"
        name="date"
        id="date"
        placeholder="date (yyyy-mm-dd)"
      />
      <button type="submit">Submit</button>
    </form>
    <!-- </div> -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const userForm = document.querySelector("#new-user");
        const userInput = document.querySelector("#username");

        const exerciseForm = document.querySelector("#add-exercises");
        const userId = document.querySelector("#_id");
        const description = document.querySelector("#description");
        const duration = document.querySelector("#duration");
        const date = document.querySelector("#date");

        userForm.addEventListener("submit", async (e) => {
          e.preventDefault();

          const inputValues = userInput.value;

          const res = await fetch("http://localhost:3000/api/users", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: await JSON.stringify({ inputValues }),
          });

          if (!res.ok) {
            alert("Error Occured!");
          }

          const data = await res.json();

          window.location.href = `/api/users`;
        });

        exerciseForm.addEventListener("submit", async (e) => {
          e.preventDefault();

          const id = userId.value;
          const des = description.value;
          const dur = duration.value;
          const time = date.value;

          const res = await fetch(
            `http://localhost:3000/api/users/${id}/exercises`,
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                id: id,
                description: des,
                duration: dur,
                date: time,
              }),
            }
          );

          if (!res.ok) {
            alert("Error Occured!");
          }

          const data = await res.json();
          console.log(data);
          window.location.href = `/api/users/${id}/logs`;
        });
      });
    </script>
  </body>
</html>
